<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">

  <title>
      {% if page.title %}
          {{ page.title | escape }}
      {% else %}
          {{ site.title | escape }}
      {% endif %}
  </title>
  <meta name="description" itemprop="description" content="{{ page.description | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  <link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/fonts/inter.css' | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/img/favicon/apple-touch-icon.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/img/favicon/favicon-32x32.png' | relative_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/img/favicon/favicon-16x16.png' | relative_url }}">
  <link rel="manifest" href="{{ 'assets/img/favicon/site.webmanifest' | relative_url }}">
  <link rel="mask-icon" color="#5bbad5" href="{{ 'assets/img/favicon/safari-pinned-tab.svg' | relative_url }}">

  <!-- Search engines -->
  <meta name="image" content="{{ site.url }}{{ 'assets/img/favicon/logo-large.png' | relative_url }}">
  <meta itemprop="name" content="{{ page.title }}">
  <meta itemprop="description" content="{{ page.desc }}">
  <meta itemprop="image" content="{{ site.url }}{{ 'assets/img/favicon/logo-large.png' | relative_url }}">

  <!-- Twitter -->
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:creator" content="@elia_scotto">
  <meta name="twitter:site" content="scotto.me">
  <meta name="twitter:image" content="{{ site.url }}{{ 'assets/img/favicon/logo-large.png' | relative_url }}">
  
  <!-- OpenGraph -->
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.desc }}">
  <meta property="og:image" content="{{ site.url }}{{ 'assets/img/favicon/logo-large.png' | relative_url }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:site" content="scotto.me">
  <meta property="og:type" content="{% if page.path contains '_posts' %}article{% else %}website{% endif %}">

  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml">
</head>
